.article.home {
	.block {
		&.block-first {
			background linear-gradient($DustyBlue, $DarkBlue)
			height 50vh
			max-height 30rem
			.block-content {
				margin 3rem 0
				font-weight 200
				color whitesmoke
				>h1 {
					margin 0 auto
					border none
					color whitesmoke
				}
				p {
					text-align center
				}
			}
		}
		.block-content {
			margin-left auto
			margin-right auto
		}
	}
}