.article.home {
	background $DustyBlue
	.block {
		max-width none
		border none
		margin 0
		padding 0
		.block-content {
			max-width none
			margin 0
			>*:last-child {
				margin-bottom 0
			}
		}
	}
}

//@import "header"
@import "introduction"
@import "quotes"
@import "stats"
@import "features"