.article.home .block {
	&:nth-of-type(2), &:nth-of-type(5) {
		text-align center
		.block-content {
			max-width 800px
			margin 0 auto
			padding vr-block(1)
			padding-top 0
		}
		h2 {
			font-weight bold
			color $DarkBlue
		}
		p {
			font-size 18px
			color #888
		}
	}
}