
//Recommended data centers
article.contactus .block {
	border-bottom none
	.block-content {
		margin-bottom 0
	}
}


// Map
article.contactus {
	.map {
		margin-left -($articleMarginSmall)
		margin-right -($articleMarginSmall)
	}
}

+isAbove($laptop) {
	article.contactus {
		.map {
			margin-left -($articleMarginLarge)
			margin-right -($articleMarginLarge)
		}
	}
}