@import "iconfont/gb_iconfont"

//vars
//Custom colors
$DustyBlue = #38A7C9  //#4FABC7
$DarkBlue = #3373BD //#507A9E// #648DA9//

@import "variables_overwrite"

// @import "../../../ssg/src/stylus" //usefull for testing
@import "../../node_modules/gbif-ssg/src/stylus"

@import "full"
@import "main"
@import "home"
@import "drawer"
@import "contacts"
